################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/DynabyteSoftwareCore/v15/ipch/AutoPCH/CMAKELISTS-f10d988e/EXCEPTIONS-615d5b44/EXCEPTIONS.ipch
/.vs/DynabyteSoftwareCore/v15/ipch/AutoPCH/CMAKELISTS-af6f21dd/EXCEPTION-3badae1c/EXCEPTION.ipch
/.vs/DynabyteSoftwareCore/v15/Browse.VC.opendb
/.vs/DynabyteSoftwareCore/v15/Browse.VC.db
/.vs/DynabyteSoftwareCore/v15/.suo
